**Attempt Log Cleaning File**

---

\

In [1]:
# Mount google drive to load the files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import library 
import numpy as np
from numpy import unique  # can also just use np.unique
import pandas as pd

**Loading Files**

In [20]:
# Loading the the Practice Exam file
pd.set_option('display.max_columns',None)
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone/Consolidated_practice_attempt_log.csv')
print(df.shape)

(721718, 20)

**Exploratory Descriptive analysis**

In [21]:
# Year extraction from the column 'Attempt Start'
df['Year'] = pd.to_datetime(df['Attempt Start'])
df['Year'] = df['Year'].dt.year

In [22]:
# Detailed info about each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721718 entries, 0 to 721717
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Org Defined ID  721718 non-null  int64
 1   Username        721718 non-null  int64
 2   FirstName       721718 non-null  object
 3   LastName        721718 non-null  object
 4   Attempt #       721718 non-null  int64
 5   Attempt Start   721718 non-null  object
 6   Attempt End     721718 non-null  object
 7   Section #       234222 non-null  float64
 8   Q #             487496 non-null  float64
 9   Q Type          487496 non-null  object
 10  Q Title         721718 non-null  object
 11  Q Text          487496 non-null  object
 12  Bonus?          604607 non-null  object
 13  Difficulty      487496 non-null  float64
 14  Answer          466151 non-null  object
 15  Answer Match    470427 non-null  object
 16  Score           487496 non-null  float64
 17  Out Of          487496 non-null  float64
 18  Marks           117111 non-null  float64
 19  Total           117111 non-null  float64
 20  Year            721718 non-null  int64
dtypes: float64(7), int64(4), object(10)
memory usage: 115.6+ MB

In [23]:
#To copy the QType to Summary Row
df['Q Type'] = df['Q Type'].ffill(axis = 0)

In [24]:
#To copy the Qtext to Summary Row
df['Q Text'] = df['Q Text'].ffill(axis = 0)

In [25]:
#To apply the filter and extract Summary Column from the Q Title Column
df = df[df['Q Title']=='Summary:']

In [26]:
#Extracting Topic From Bonus Question Field
df_topic = df['Bonus?'].str.split(':').str[0]
df['Topic'] = df_topic
df_topic.head(5)

6       CORR
12    CLASS1
19     INTRO
26      LPSA
29       MLR
Name: Bonus?, dtype: object

In [27]:
#Extracting Question Type From Bonus Question Field
df_ques_type = df['Bonus?'].str.split(':').str[1]
df['Question Type'] = df_ques_type
df_ques_type.head(5)

6      THEORY
12       CALC
19     THEORY
26     THEORY
29       CALC
Name: Bonus?, dtype: object

In [28]:
#Extracting Chapter From Bonus Question Field
df_ques_chapter = df['Bonus?'].str.split(':').str[2]
df['Chapter'] = df_ques_chapter
df_ques_chapter.head(5)

6                     Correlation symmetry
12                         Confusion Table
19           Which is not analytics method
26     Shadow price non-binding constraint
29     Jewelry sales from window and value
Name: Bonus?, dtype: object

In [29]:
# Dropping the irrelevant rows
df.drop_duplicates(subset = ['Bonus?'])
df.head()

,Org Defined ID,Username,FirstName,LastName,Attempt #,Attempt Start,Attempt End,Section #,Q #,Q Type,Q Title,Q Text,Bonus?,Difficulty,Answer,Answer Match,Score,Out Of,Marks,Total,Year,Topic,Question Type,Chapter
6,11111111,22222222,Hmpivxct,Sqcqnoqy,1,04-05-2020 12:10,04-05-2020 12:55,1.0,NaN,MC,Summary:,The linear correlation between attendance and...,CORR : THEORY : Correlation symmetry,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2020,CORR,THEORY,Correlation symmetry
12,11111111,22222222,Hmpivxct,Sqcqnoqy,1,04-05-2020 12:10,04-05-2020 12:55,2.0,NaN,FIB,Summary:,<p>A construction company has analysed the ye...,CLASS1 : CALC : Confusion Table,NaN,NaN,NaN,NaN,NaN,0.0,4.0,2020,CLASS1,CALC,Confusion Table
19,11111111,22222222,Hmpivxct,Sqcqnoqy,1,04-05-2020 12:10,04-05-2020 12:55,3.0,NaN,MC,Summary:,Which of the following is not a methodology t...,INTRO : THEORY : Which is not analytics method,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2020,INTRO,THEORY,Which is not analytics method
26,11111111,22222222,Hmpivxct,Sqcqnoqy,1,04-05-2020 12:10,04-05-2020 12:55,4.0,NaN,MC,Summary:,"In a Linear Programming minimisation problem,...",LPSA : THEORY : Shadow price non-binding const...,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2020,LPSA,THEORY,Shadow price non-binding constraint
29,11111111,22222222,Hmpivxct,Sqcqnoqy,1,04-05-2020 12:10,04-05-2020 12:55,5.0,NaN,SA,Summary:,An investor made a market study of jewelry st...,MLR : CALC : Jewelry sales from window and value,NaN,NaN,NaN,NaN,NaN,0.0,4.0,2020,MLR,CALC,Jewelry sales from window and value

In [30]:
#Generating Unique IDs for the questions
df= df.assign(id=(df['Bonus?'].astype('category').cat.codes))
df['id'] = df['id'].astype(int) + 1

In [31]:
# Concatenating the Firstname and Lastname into a single column 
df['User'] = df['FirstName']  + ' '  + df['LastName']

In [32]:
# Dropping the redundant columns
df.drop(['Q #', 'Q Title', 'Difficulty', 'Answer', 'Answer Match', 'Score', 'Out Of', 'FirstName', 'LastName', 'Q Text'], axis=1, inplace=True)

In [33]:
df.head()

,Org Defined ID,Username,Attempt #,Attempt Start,Attempt End,Section #,Q Type,Bonus?,Marks,Total,Year,Topic,Question Type,Chapter,id,User
6,11111111,22222222,1,04-05-2020 12:10,04-05-2020 12:55,1.0,MC,CORR : THEORY : Correlation symmetry,0.0,2.0,2020,CORR,THEORY,Correlation symmetry,19,Hmpivxct Sqcqnoqy
12,11111111,22222222,1,04-05-2020 12:10,04-05-2020 12:55,2.0,FIB,CLASS1 : CALC : Confusion Table,0.0,4.0,2020,CLASS1,CALC,Confusion Table,2,Hmpivxct Sqcqnoqy
19,11111111,22222222,1,04-05-2020 12:10,04-05-2020 12:55,3.0,MC,INTRO : THEORY : Which is not analytics method,2.0,2.0,2020,INTRO,THEORY,Which is not analytics method,28,Hmpivxct Sqcqnoqy
26,11111111,22222222,1,04-05-2020 12:10,04-05-2020 12:55,4.0,MC,LPSA : THEORY : Shadow price non-binding const...,0.0,2.0,2020,LPSA,THEORY,Shadow price non-binding constraint,41,Hmpivxct Sqcqnoqy
29,11111111,22222222,1,04-05-2020 12:10,04-05-2020 12:55,5.0,SA,MLR : CALC : Jewelry sales from window and value,0.0,4.0,2020,MLR,CALC,Jewelry sales from window and value,60,Hmpivxct Sqcqnoqy

In [34]:
# Rename the columns to relevant names
df = df.rename(columns= {"Attempt #": "Attempt", "Section #": "Q No"})

In [37]:
#Changing the datatype of QNo to Int
df["Q No"] = df["Q No"].astype("int64")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117111 entries, 6 to 721717
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Org Defined ID  117111 non-null  int64
 1   Username        117111 non-null  int64
 2   Attempt #       117111 non-null  int64
 3   Attempt Start   117111 non-null  object
 4   Attempt End     117111 non-null  object
 5   Q No            117111 non-null  int64
 6   Q Type          117111 non-null  object
 7   Bonus?          117111 non-null  object
 8   Marks           117111 non-null  float64
 9   Total           117111 non-null  float64
 10  Year            117111 non-null  int64
 11  Topic           117111 non-null  object
 12  Question Type   117111 non-null  object
 13  Chapter         117111 non-null  object
 14  id              117111 non-null  int64
 15  User            117111 non-null  object
dtypes: float64(2), int64(6), object(8)
memory usage: 15.2+ MB

In [ ]:
export_csv_data = df.to_csv('Attempt_Details_Exam_Cleaned.csv')